//colors
$primary: linear-gradient(231.61deg, #42d8d6 20%, #3fdfcf 71.51%);
$secondary: #2d5380;
$blueShade1: #027dfc;
$blueShade2: #36475b;
$blueGradient: linear-gradient(180deg, #4f94e3 0%, #7bbdf1 100%);
$blueGradient2: linear-gradient(232.3deg, #2d5380 17.07%, #4a7da5 94.63%);
$red: #ef525e;
$redShade2: #ed4e75;
$redGradient: linear-gradient(180deg, #ef525e 0%, rgba(239, 82, 94, 0.82) 100%);
$orange: #ff754a;
$orangeGradient: linear-gradient(63.17deg, #ff754a -16.06%, #ffb12a 128.22%);
$yellow: #ffb12a;
$yellowGradient: linear-gradient(180deg, #ffb12a 0%, rgba(255, 177, 42, 0.77) 100%);
$green: #00ddd0;
$magenta: #de0d92;

//b&w shades
$black: #1a1a1a;
$blackShade1: #404040;
$blackShade2: #595959;
$blackShade3: #939393;
$blackShade4: #bfbfbf;
$blackShade5: #ececec;

$Primarywhite: #ffffff;
$white: #ffffff;
$whiteShade1: #fafafa;
$whiteShade2: #f1f2f4;
