* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
/*---------------------------- Button Components Styling starts ----------------------------*/

.primary-white-text-gray-button {
  background: linear-gradient(94.43deg, rgba(69, 69, 69, 0.72) -18.98%, rgba(17, 17, 17, 0.72) 113.48%);
  border-radius: 8px;
  padding: 16px 24px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.85px;
  border: 1px solid #447cbf;
}

.primary-blue-text-white-button {
  border-radius: 8px;

  padding: 16px 24px;
  background: linear-gradient(94.43deg, #447cbf -18.98%, #111111 113.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 16px;

  border: 1px solid #447cbf;
}

/*---------------------------- WelcomingScreen Styling Starts ----------------------------*/

.welcome-screen .container {
  margin-left: 0;
  min-width: 100vw;
  height: 100vh;
  background: linear-gradient(94.43deg, #447cbf -18.98%, #111111 113.48%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-screen .container .logo {
  position: fixed;
  top: 0;
  left: 0;
}

.welcome-screen .container .logo img {
  padding: 20px;
  max-height: 15vh;
}

.welcome-screen .container .row .welcome-content {
  font-size: 5vw;
  color: #fafafa;
  text-align: center;
}

.welcome-screen .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome-screen .container .row .confetti {
  height: 20vh;
  width: 20vw;
  margin: 0px;
}

.welcome-screen .container .row .confetti_1 {
  position: absolute;
  top: 20%;
  left: 0%;
}

.welcome-screen .container .row .confetti_3 {
  position: absolute;
  top: 20%;
  right: 0%;
}

/*---------------------------- SigninScreen Styling starts ----------------------------*/
.signin-screen .container {
  margin-left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
}

.signin-screen .container .row .left-side {
  background: linear-gradient(94.43deg, #447cbf -18.98%, #111111 113.48%);
  position: relative;
  min-height: 100vh;
}

.signin-screen .left-side .logo img {
  padding: 20px;
  max-height: 6rem;
}

.signin-screen .left-side .signin-image-all {
  max-height: 20%;
}

@media screen and (max-width: 992px) {
  .signin-screen .left-side .signin-image-all {
    display: none;
  }

  .signin-screen .container .row .left-side {
    min-height: 10vh;
  }
}

.signin-screen .left-side .signin-image-child1 {
  position: absolute;
  top: 30%;
  left: 40%;
}

.signin-screen .left-side .signin-image-child2 {
  position: absolute;
  top: 44%;
  left: 30%;
}

.signin-screen .left-side .signin-image-child3 {
  position: absolute;
  top: 48%;
  left: 50%;
}

.signin-screen .left-side .signin-image-child1:hover,
.signin-screen .left-side .signin-image-child2:hover,
.signin-screen .left-side .signin-image-child3:hover {
  z-index: 100;
}

.signin-screen .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*---------------------------- Signin and Register(1-2) Form Styling Starts ----------------------------*/
.signin-screen .right-side p {
  color: #447cbf;
  margin: 20px 0;
  text-align: center;
}

.signin-card {
  background-color: #ffffff;
  position: relative;
  box-shadow: 2px 6px 25px rgba(89, 89, 89, 0.08);
  border-radius: 10px;
  padding: 54px;
}

.signin-card .text {
  font-size: 28px;
  font-weight: 600;
  color: #447cbf;
  text-align: center;
}

.signin-card .input-text {
  position: relative;
  margin-top: 19px;
  font-weight: 500;
  color: #595959;
  font-size: 18px;
}

.signin-card .input-text input,
select {
  height: 45px;
  width: 100%;
  border-radius: 9px;
  border: 1px solid #e0e3e9;
  padding: 0 14px;
  font-size: 16px;
  color: #bfbfbf;
  margin: 5px 0;
}

.signin-card .input-text i {
  position: absolute;
  right: 10px;
  top: 45px;
  font-size: 15px;
  cursor: pointer;
}

.signin-card .buttons {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-card .buttons button {
  height: 45px;
  width: 100%;
  border: none;
  background-image: linear-gradient(94.43deg, #447cbf -18.98%, #111111 113.48%);
  border-radius: 9px;
  font-size: 12px;
  outline: 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.signin-card .forgot {
  font-size: 14px;
  font-weight: 500;
  color: #2d5380;
}

.forgot a {
  text-decoration: none;
}

/*---------------------------- DashboardScreen Styling starts ----------------------------*/
.dashboard-screen .container {
  margin-left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
}

.dashboard-screen .container .row .left-side {
  background: linear-gradient(94.43deg, #447cbf -18.98%, #111111 250%);
  position: relative;
  min-height: 100vh;
  color: #e0e0e0;
}

.dashboard-screen .left-side .logo img {
  padding: 10px;
  align-self: center;
  max-height: 7rem;
}

.dashboard-screen .left-side .logo {
  text-align: center;
}

.dashboard-screen .left-side .sidebar .dashboard-buttons {
  margin: 20px;
  padding: 10px;
}

.dashboard-screen .left-side .sidebar .dashboard-buttons:hover {
  background-color: #447cbf;
  border-radius: 10px;
}

.dashboard-screen .left-side .sidebar {
  margin-top: 10vh;
}

.dashboard-screen .left-side .sidebar .dashboard-buttons img,
span {
  padding-left: 10px;
}

.dashboard-screen .left-side .sidebar .logout-dashboard {
  display: flex;
  align-items: center;
  margin: 20px;
  position: fixed;
  padding: 10px;
  bottom: 0;
}

.dashboard-screen .left-side .sidebar .logout-dashboard img,
span {
  padding-right: 10px;
  /* padding-left: 10px; */
  color: #e0e0e0;
  font-size: 20px;
}

.dashboard-screen .left-side .sidebar .logout-dashboard:hover {
  background-color: #447cbf;
  border-radius: 10px;
}

.dashboard-screen .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*---------------------------- FormBuilderScreen Styling starts ----------------------------*/

.formbuilder-screen .container {
  margin-left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
}

.top-bar {
  background: linear-gradient(94.43deg, #447cbf -18.98%, #111111 113.48%);
  color: #e0e0e0;
  padding: 1%;
}

.top-bar .logout-dashboard {
  font-size: 20px;
}

.formbuilder-screen .container .inputProperties p {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 28px;
}

.inputProperties {
  border: 2px solid #e0e0e0;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  padding: 37px 41px 34px 24px;
}

.inputProperties input {
  border: 2px solid #828282;
  border-radius: 10px;
  padding: 12px 22px;
  font-size: 18px;
  color: #828282;
  margin-bottom: 37px;
  width: 100%;
  margin-top: 16px;
}

.inputProperties div:nth-last-child(2) input {
  width: auto;
  margin: 0px 0px 0px 8px;
}

.inputProperties .input-text {
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}

.inputProperties .buttons {
  margin-top: 143px;
  display: flex;
  justify-content: center;
}

.inputProperties .buttons button:first-child {
  margin-right: 19px;
}
